@import "_functions.scss";
body{
    margin: 0%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    header{
        height: 7vh;
        width: 100%;
        nav{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: .5rem;
            span{
                margin-left: 4rem;
                color: grey;

                font: {
                    weight: bold;
                    size: 1.5rem;
                    style: italic;
                }
            }
            ul{
                display: flex;
                list-style: none;
                margin: 0%;
                li{
                    margin-right: 2.5rem;
                    img{
                        height: 22px;
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
    main{
        height: 93vh;
        background: {
            image: url("../img/fondo.jpg");
            size: cover;
            repeat: no-repeat;
            position: center;
        }
        display: flex;
        align-items: center;
        & > div{
            width: 500px;
            margin-left: 5rem;
            span{
                @include building();
            }
            p{
                color: white;
                font-style: italic;
            }
            & div{
                display: flex;
                margin-top: 2rem;
                #input{
                    padding: .75rem;
                    width: 200px;
                    margin: 0;
                    border: none;
                }
                #input::placeholder{
                    color: rgb(190, 190, 190);
                }
                #submit{
                    background: linear-gradient(to right, map-get($coloresImpar,"cuadro1"),map-get($coloresPar,"cuadro2"));
                    border: none;
                    padding: .75rem 1.5rem;
                    color: white;
                    font-weight: lighter;
                    cursor: pointer;
                }
            }
        }
    }
    footer{
        height: 50vh;
        display: flex;
        color: white;
        justify-content: center;
        align-items: center;

        @for $i from 1 through 4 {
            @if ($i%2)==0 {
                & div:nth-child(#{$i}){
                    @include recuadros();
                    background-color: map-get($coloresPar, 'cuadro#{$i}'); 
                }
            }@else{
                & div:nth-child(#{$i}){
                    @include recuadros();
                    background-color: map-get($coloresImpar, 'cuadro#{$i}');
                }
            }
        }
    }
}
